<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectV2MouseControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <KinectV2MouseControl.Properties.Settings>
            <setting name="Smoothing" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MoveScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HoverRange" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HoverDuration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpeedResponsiveness" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="JitterDeadzone" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ClickFreezeDuration" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="PointerCenterHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ForwardActivationDistance" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="ActivationMinHeight" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="ScrollSpeed" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SwipeMinDisplacement" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="StationaryLockEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StationaryLockRadius" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="StationaryLockDwell" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="StationaryBreakoutRadius" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="UseCalibratedRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HandRangeX" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="HandRangeY" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="HandCenterX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollCurve" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="InvertScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PointerSettleTime" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="CompactOnMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartCompact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OverlayTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VoiceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceWakeThreshold" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="VoiceCommandThreshold" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="VoiceDismissSound" serializeAs="String">
                <value>True</value>
            </setting>
        </KinectV2MouseControl.Properties.Settings>
    </userSettings>
    <runtime>
        <!-- Lets WPF rescale its own UI when the window moves between monitors of different
             DPI. Without this the process is per-monitor DPI aware for cursor purposes (see
             app.manifest) but WPF would still lay the settings window out at a single DPI. -->
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    </runtime>
</configuration>